.myInfoWindow {
  position: absolute;
  z-index: 100;
  border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px;
  -moz-box-shadow: 0 0 1em #26393D;
  border: 2px solid #046380;
  font-family: sans-serif;
  font-size: 12px;
  background-color:#EFECCA;
}

.dj_ie .myInfoWindow {
  border: 1px solid black;
}

.myInfoWindow .content {
  position: relative;
  background-color:#EFECCA;
  color:#002F2F;
  overflow: auto;
  padding:2px 2px 2px 2px;
}

.myInfoWindow .title {
  font-weight: bold;
  padding: 2px 2px 2px 2px;
  background-color:#046380;
  color:#E6E2AF;
}

.myInfoWindow .title{
	display: none;
}

.myInfoWindow .actionList {
 display: none;
}

.myInfoWindow .attrTable {
 display: none;
}

.esriViewPopup .header {
    font-weight: bold;
	width : auto;
}

.esriViewPopup .break {
    display: none;
}

.esriViewPopup .hzLine {
	display: none;
}
